/Lalo/ServidorPRR/nbproject/private/
/Lalo/Cliente/nbproject/private/
/Lalo/ServidorPRR/build/
/Lalo/Cliente/build/
/Lalo/Servidor_2/nbproject/private/
/Lalo/Servidor_2/build/
/Lalo/PRR_Concurrente/nbproject/private/
/Lalo/PRR_Concurrente/build/
/Lalo/PRR_Concurrente/dist/